body{
	font-family:'Raleway', sans-serif;
	font-size: 1.5rem;
}

.board {
	background-image: url("../img/board.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	max-width: 600px;
	font-size: 2rem;
	font-family: 'Anonymous Pro'
}

.board table {
	width: 100%;
	height: 100%;
}

.board tr {
	height: calc(100%/ 9);
}

.board td {
	width: calc(100%/ 9);
}

.alertMsg {
	font-style: italic;
	color: IndianRed
}

.boardbtn {
	width: 70%;
	height: 70%;
	
}

.boardnumpadkey {
	font-size: 4rem;
	font-family: 'Anonymous Pro'
}

.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: auto;
  display: table;
}

